.line {
  display: flex;
  font-size: 16px;
  position: relative;
}

.line.nums::before {
  content: attr(data-line-number);
  font-size: 16px;
  font-weight: bold;
  left: -1.8rem;
  position: absolute;
  top: 0;
  font-family: monospace;
  width: 2rem;
  background-color: #999;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.line.active::before {
  background-color: #555;
}

.block {
  flex: 1;
}

