.links {
  padding: 0.5rem 0;
}

.links > a {
  background-color: aliceblue;
  border-radius: 2px;
  padding: 4px;
  text-decoration: none;
}

.links > a:hover {
  background-color: white;
}

.links > * + * {
  margin-left: 8px;
}
